<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<title>Google-beta</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="/js/lib/jquery.min.js"></script>
</head>
<body>
	<header class="header">
		<ul class="Cap ">
			<li class="Cap-li capHeader" title="Показать Сервисы" >
				<img class="Cap-li-img" src="assets/img/icon1_1.png" alt="Сервисы">
				<a class="Cap-li-a" href="chrome://apps/">Сервисы</a>
			</li>	
			<li class="Cap-li capHeader" title="Нова вкладка" >
				<img class="Cap-li-img" src="assets/img/icon1_2.png" alt="Нова вкладка" >
				<a class="Cap-li-a" href="#">Нова вкладка</a>
			</li>	
			<li class="Cap-li capHeader" title="Поиск" >
				<img class="Cap-li-img" src="assets/img/icon1_3.png" alt="Поиск" >
				<a class="Cap-li-a" href="https://www.google.com.ua">Поиск</a>
			</li>	
		</ul>
	</header>
	<div class="containerMng">
		<ul class="Cap">
			<li class="Cap-li">
				<a class="Cap-li-a capMenu-a" href="https://mail.google.com">Почта</a>
			</li>
			<li class="Cap-li">
				<a class="Cap-li-a capMenu-a" href="https://www.google.com.ua/imghp?hl=ru">Картинки</a>
			</li>
			<li class="Cap-li">
				<a class="vupMenu" href="#"><img class="Cap-li-img capMenu-img1" src="assets/img/icon2_1.png" title="Приложение Google" alt="риложение Google"></a>
				<nav class="prilogenia prilogeniaActive">
					<ul class="shortcuts">
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="#">
								<img class="shortcuts-a-img" src="assets/img/label_akaunt.png">
								<div>Мой аккаунт</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_googl.png">
								<div>Поиск</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_kart.png">
								<div>Карты</div>
							</a>
						</li>	
					</ul>
					<ul class="shortcuts">
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_yoebe.png">
								<div>YouTube</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_play.png">
								<div>Play</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a" src="assets/img/label_nov.png">
								<div>Новости</div>
							</a>
						</li>	
					</ul>
					<ul class="shortcuts">
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_mail.png">
								<div>Почта</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_disk.png">
								<div>Диск</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_kalendar.png">
								<div>Календарь</div>
							</a>
						</li>	
					</ul>
					<ul class="shortcuts">
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_g+.png">
								<div>Google+</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_g.png">
								<div>Переводчик</div>
							</a>
						</li>
						<li class="shortcuts-item">
							<a class="shortcuts-a" href="">
								<img class="shortcuts-a-img" src="assets/img/label_foto.png">
								<div>Фото</div>
							</a>
						</li>	
					</ul>
				</nav>	
			</li>
			<li class="Cap-li">
				<a href="#"><img class="Cap-li-img capMenu-img2" src="assets/img/icon2_2.png" title="Уведомление Google" alt="Уведомление Google"> </a> 
			</li>
			<li class="Cap-li">
				<a href="#"><img class="Cap-li-img capMenu-img3" src="assets/img/icon2_3.png" title="Аккаунт Google:" alt="Аккаунт Google"></a>
			</li>
		</ul>
	</div>
	<nav class="logoURL">
		<img class="logoUrl-img" src="assets/img/logo.png" title="Google" alt="logGoogle">
		<label class="logoURL-URL">
			<input class="logoURL-URL-input" type="text" name="URL" placeholder="Введите поисковый запрос или URL" >
			<img id="mikrofon" src="assets/img/icon3.png" alt="Голосовой поиск">
			<img id="mikrofonHover" src="assets/img/golosMenu.png">
		</label>
	</nav>
	<nav class="containerTabs">
		<ul class="Tabs">
			<li class="Tabs-li tl1">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl2">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl3">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl4">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
		</ul>	
		<ul class="Tabs">	
			<li class="Tabs-li tl5">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl6">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl7">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
			<li class="Tabs-li tl8">
				<a class="Tabs-li-a" href="#"><img class="Tabs-li-img" src="#"></a>
			</li>
		</ul>
	</nav>

<script src="js/common.min.js"></script>
</body>
</html


